<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mb0">Our <a href="mission">mission</a> is to provide high quality solutions, ideas, content, and thought, utilizing technology.<br/><br/>Our <a href="/passion">passion</a> is to bridge technology with creative and sustainable projects.<br/><br/>Driven by our <a href="values">values</a>, we provide unique services specific to the needs in our region and beyond.</p>
  </div>
</div>
