{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">Content Creation</h3>
    <p>We like writing code as much as writing content. Shape your developer relations team. Start contributing real, valuable blog content - not just sales material.</p>
  </div>
</div>

<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">Code For Hire</h3>
    <p>Sometimes you just need another hand in working on features, resolving issues, or help with building out devops. We're good for that too.</p>
  </div>
</div>


<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" .Params.pricing }}

{{ end }}
