{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "jumbotron" (dict "imageUrl" "/img/second-banner.jpeg") }}

{{ partial "2-up" .Params }}

{{ partial "jumbotron" (dict "imageUrl" "/img/ontheroad.png") }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "more about our values" "buttonLink" "/values") }}

{{ end }}
